.footer {
  // calculate the top margin of an element in a flex container, 
  // pushing the element to the bottom of the container.  
  margin-top: auto;

  width: 100%;
  text-align: center;
  padding: 10px 0 25px;
}