.gallery {
  background: #f8f9fa;
  overflow: hidden;
  box-shadow: 2px 2px 2px rgb(0,0,0, 0.4);

  
  &-img {
    height: 350px;
    object-fit: cover;    
    object-position: 0 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }

  &-img:hover {
    opacity: 0.85;
  }

  &-text {
    font-size: 20px;
    text-align: center;   
  }
}