.contact {
  
  & label {
    padding-left: 5px;
    margin: 0;
  }
  &-header {
    font-size: 26px;
    text-transform: uppercase;
  }

  &-tagline {
    font-size: 16px;
    padding-left: 5px;
  }

  &-label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  &-buttons {
    padding-left: 5px;
    margin-bottom: 15px;
  }
  
  &-submit, &-clear {
    width: 80px;
  }
  &-submit {
    color: #fff;
    background: #333333;
    margin-right: 10px;
  }
  
  &-submit:hover {
    background: #000;    
    color: #fff;
  }

  &-email, &-twitter, &-linkedin {
    display: flex;
    align-items: flex-start; 
    color: rgba(107,114,128);    
  }

  &-icon {
    margin-right: 10px;
    font-size: 25px;
  }

  &-email a, &-twitter a, &-linkedin a {
    color: rgba(107,114,128);
  }

  &-email a:hover, &-twitter a:hover, &-linkedin a:hover {
    color: rgb(40, 147, 155);
  }

}