// Home
.home {
 
  border: 0;
  &-img{
    object-fit: cover;  
    aspect-ratio: 1;
    border-radius: 50%;
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.25);   
  }

  &-header {
    border: 0;
    background: none;
    font-size: 26px;
    letter-spacing: 1px;
    font-weight: 700;
    padding-bottom: 0;
  }

  &-content {
    padding-top: 0;
    line-height: 2;
  }

  &-tagline {
    font-size: 16px;    
    color: rgba(107,114,128);
  }

  &-location, &-email, &-resume {
    color: rgba(107,114,128);
  }

  &-location {
    padding-left: 2px;    
  }
  
  &-email a {
    color: rgba(107,114,128);
  }
  &-email a:hover {
    color: rgb(40, 147, 155);
  }
    
  &-resume button {
    background: transparent;
    border: none;
    text-decoration: underline;
    color: rgba(107,114,128);    
  }

  &-resume button:hover {
    color: rgb(40, 147, 155);
  }

  &-icon {
    margin-right: 10px;    
  }

  &-skills {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 16px;
    padding-left: 0;
  }
     
  &-skill {
    background: rgba(229,231,235,.8);    
    margin: 5px 10px 5px 0;
    padding: 0 10px;
    font-size: 15px;
    border-radius: 5px;
  }

  &-btn button {
    padding-left: 0;
    padding-right: 18px;
  }

  &-btn-github, &-btn-linkedin, &-btn-twitter {
    font-size: 25px;
    padding: 0 8px;
  }

  &-btn-github {
    padding-left: 0;
  }

  &-btn-github:hover, &-btn-linkedin:hover, &-btn-twitter:hover {
    color: rgb(40, 147, 155);
  }

  &-btn-github:focus, &-btn-linkedin:focus, &-btn-twitter:focus {
    border: none;
  }

  &-me {
    padding-top: 50px;
  }

  &-me-text {
    text-align: justify;
  }

  @media (max-width: 1200px){
    &-img {
      width: 250px;
    }
  }

  @media (max-width: 768px){
    &-img {
      width: 250px;
    }
  }

}

