// Projects page
.projects {  
  display: flex;

  &-headline {
    text-transform: uppercase;
    font-size: 26px;
  }

  &-num {
    align-self: flex-start;
    background: rgb(229,231,235);
    border-radius: 50%;
    font-size: 12px;
    padding: 0 6px;
    margin-left: 8px;
    font-weight: bold;
  }

  &-container {
    row-gap: 35px;
  }
  
  &-card a{
    text-decoration: none;
  }
}